src/Libraries/Nop.Data/obj/Debug/net7.0/Nop.Data.csproj.AssemblyReference.cache
src/Libraries/Nop.Services/obj/Debug/net7.0/Nop.Services.csproj.AssemblyReference.cache
src/Presentation/Nop.Web.Framework/obj/Debug/net7.0/Nop.Web.Framework.csproj.AssemblyReference.cache
src/Presentation/Nop.Web/obj/Debug/net7.0/Nop.Web.csproj.AssemblyReference.cache